extends ./layout

block content
  h1.text-center.mb-5 LINE Front-end Framework Manager

  .card.mt-4
    .card-body
      h4 Description
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nostrum qui quae quidem eos. Eligendi nobis assumenda deleniti maiores ducimus debitis totam alias delectus aut eos possimus deserunt, nam consequuntur?

  .card.mt-4
    .card-body
      h4 Changelog
      p
        strong v0.1
      ul
        li Initial release
