<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=_title + ' ⚫ LIFF Manager'
    block styles
      link(rel="stylesheet", href="/css/bootstrap.min.css")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-success.sticky-top
      a.navbar-brand(href="/") LIFF Manager
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
          li.nav-item.active
            if _channel
              a.nav-link(href="/dashboard") Dashboard
        ul.navbar-nav
          if _channel
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle#navbarDropdown(role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded=false, href="#")
                | ID: #{_channel.id} 
              .dropdown-menu(aria-labelledby="navbarDropdown")
                a.dropdown-item(href="/channel") My Channel
                a.dropdown-item(href="/logout") Logout
          else
            li.nav-item
              a.btn.btn-outline-light(href="/register") Try Now!
    .container.mt-5.mb-4
      block content
    block scripts
      script(src="/jquery.min.js")
      script(src="/js/bootstrap.bundle.min.js")
